%amass-heading{ title: 'Success Stories' }

.amass__breadcrumbs
  .row
    .amass__breadcrumb
      %a{ href: '/' } Home
    .amass__breadcrumb.current Success Stories

.amass-section
  .row{ ng: { repeat: 'groupedSuccessStories in successStories|inGroupsOf:2' } }
    .medium-6.columns{ ng: { repeat: 'successStory in groupedSuccessStories' } }
      %a.success-stories-grid__item{ href: '/success-stories/{{successStory.slug}}' }
        %h4 {{successStory.title}}
        %img{ ng: { src: '{{successStory|successStoryImage}}' } }
