%amass-heading{ title: 'Success Stories' }

.amass__breadcrumbs
  .row
    .amass__breadcrumb
      %a{ href: '/' } Home
    .amass__breadcrumb.current Success Stories

.row.amass-section
  .medium-6.columns{ ng: { repeat: 'successStory in successStories' } }
    %a.success-stories-grid__item.radius{ href: '/success-stories/{{successStory.slug}}' }
      %h4 {{successStory.title}}
      %img{ ng: { src: '{{successStory.vimeoVideoId|imageForSuccessStory}}' } }
