.amass__heading
  .row.row-content
    %h1 About Us

.row.row-content.amass-section
  %h1 Our Double Mission
  %p
    We believe it should be easy for...
  %p
    %strong filmmakers
    &nbsp;to find exciting, socially-conscious projects to work on.
  %p
    %strong organizations
    &nbsp;to find creative and dependable filmmakers who will bring your vision
    to life.

%ng-include{ src: "'team_bios/view.html'" }

.row
  %br
  %br
  %h1 Contact
  %p Questions, concerns, comments, want to join us, or anything else?
  %p
    Please feel free to contact us at&nbsp;
    = link_to 'contact@amassmedia.org', 'mailto:contact@amassmedia.org'
    \.
