%amass-heading{ title: 'About Us' }

.row.row-content.amass-section
  %h1 Our Mission
  %p
    %em Everyone, especially social changemakers should have access to video storytelling.
  %p
    Today, video production is largely inaccessible to many because videographers are often found through word of mouth. Beyond the lack of credible channels to connect, video buyers’ limited knowledge of the video production process often leads to inability to find the right videographer and execute projects successfully. 

  %p
    Amass Media connects video buyers with videographers based on experience, geographic, and price-based matching. We also provide educational and project management tools to ensure successful executions of all of our matched projects
  
  %h1 Our Vision
  %p
    %em A world where all social changemakers, even those working in most remote areas of the world, can find a videographer to tell their stories in compelling video forms

  %p
    We are a for-profit social enterprise and use a tier-based and cross-subsidy pricing model to fulfill our mission.


%ng-include{ src: "'team_bios/view.html'" }

.row
  %br
  %br
  %h1 Contact
  %p Questions, concerns, comments, want to join us, or anything else?
  %p
    Please feel free to contact us at&nbsp;
    = link_to 'contact@amassmedia.org', 'mailto:contact@amassmedia.org'
    \.
