-#
  .about__main-image
  %amass-heading{ title: 'About Us' }

.about__main-content
  .row.row-content
    .large-8.large-offset-4.columns
      %h2= t('about.mission_heading')
      %p= t('about.mission_text')
      %p Amass Media wants to fill the gap.

.about__vision

%ng-include{ src: "'team_bios/view.html'" }

.row.row-content
  .large-offset-1
    %br
    %br
    %h1 Contact
    %p Questions, concerns, comments, want to join us, or anything else?
    %p
      Please feel free to contact us at&nbsp;
      = link_to 'contact@amassmedia.org', 'mailto:contact@amassmedia.org'
      \.
