.home-main-image
  .row.row-content
    %br
    %br
    %h1.hide-for-small-only
      Amass Media won funding from the&nbsp;
      %a{ href: 'http://bigideas.berkeley.edu/contests/creative/', target: '_blank' }
        Big Ideas @ Berkeley Competition
      &nbsp;to launch the idea.
    %h1.show-for-small-only
      Amass Media won funding from the&nbsp;
      %a{ href: 'http://bigideas.berkeley.edu/contests/creative/', target: '_blank' }
        Big Ideas @ Berkeley Competition
      \.

    %br
    %br

%ng-include{ src: "'team_bios/view.html'" }

.row
  %h1 Contact
  %p Questions, concerns, comments, want to join us, or anything else?
  %p
    Please feel free to contact us at&nbsp;
    = link_to 'contact@amassmedia.org', 'mailto:contact@amassmedia.org'
    \.
