.row{ ng: { controller: 'TeamBiosCtrl' } }
  %br
  %h1.text-center The Team
  %br
  .row
    .medium-3.columns{ ng: { repeat: 'teamBio in teamBios' } }
      %h3 {{teamBio.nickname}}
      %em {{teamBio.position}}
      .team-bio__profile-image
        %img{ ng: { src: '{{teamBio|imageForTeamBio}}' } }
      %button.button{ ng: { click: 'open(teamBio)' } } Open me!
