.team-bios.amass-section{ ng: { controller: 'TeamBiosCtrl' } }
  .row.row-content
    %h1
      The Team&nbsp;
      %small Click to learn more!
    %br
    .row
      .team-bio.medium-3.columns.text-center{ ng: { repeat: 'teamBio in teamBios' } }
        .team-bio__basic-profile{ ng: { click: 'open(teamBio)' } }
          %h3 {{teamBio.nickname}}
          %p
            %em {{teamBio.position}}
          .team-bio__profile-image
            %img{ ng: { src: '{{teamBio|imageForTeamBio}}' } }
