%amass-heading{ title: 'Contact Us' }

.row.row-content
  %br
  %p Questions, concerns, comments, want to join us, or anything else?
  %p
    Please feel free to contact us at&nbsp;
    = link_to 'contact@amassmedia.org', 'mailto:contact@amassmedia.org'
    \.
