.amass__heading
  .row.row-content
    %h1 Make a free project posting

.row.row-content
  %br
  %div{ ng: { hide: 'created' } }
    %p.intro
      We'll be launching our platform soon but are currently matching projects&nbsp;
      informally to our network of filmmakers
    %p.intro
      Fill out a form below or email&nbsp;
      = link_to 'contact@amassmedia.org', 'mailto:contact@amassmedia.org'
      &nbsp;for any questions

    %form{ novalidate: true, name: 'form', ng: { submit: 'create()' } }
      .form-error{ ng: { show: 'formError' } } {{formError}}
      %label{ ng: { class: '{error: invalidField(form.organization_name.$invalid)}' } }
        Organization Name
        - ng_data = { model: 'organization.organization_name',
            class: '{error: invalidField(form.organization_name.$invalid)}' }
        %input{ type: 'text', name: 'organization_name', ng: ng_data, required: true }
      %small.error{ ng: { show: 'invalidField(form.organization_name.$error.required)' } } required

      %label
        Organization Description (Optional)
        - ng_data = { model: 'organization.organization_description',
            class: '{error: invalidField(form.organization_description.$invalid)}' }
        %input{ type: 'text', name: 'organization_description', ng: ng_data }

      %label{ ng: { class: '{error: invalidField(form.contact_name.$invalid)}' } }
        Contact Name
        - ng_data = { model: 'organization.contact_name',
            class: '{error: invalidField(form.contact_name.$invalid)}' }
        %input{ type: 'text', name: 'contact_name', ng: ng_data, required: true }
      %small.error{ ng: { show: 'invalidField(form.contact_name.$error.required)' } } required

      %label{ ng: { class: '{error: invalidField(form.contact_email.$invalid)}' } }
        Contact Email
        - ng_data = { model: 'organization.contact_email',
            class: '{error: invalidField(form.contact_email.$invalid)}' }
        %input{ type: 'email', name: 'contact_email', ng: ng_data, required: true }
      %small.error{ ng: { show: 'invalidField(form.contact_email.$error.required)' } } required
      %small.error{ ng: { show: 'invalidField(form.contact_email.$error.email)' } } invalid email

      %label{ ng: { class: '{error: invalidField(form.description.$invalid)}' } }
        Project Description (e.g. video purpose, audience, distribution,&nbsp;
        length, filming locations, and impact)
        - ng_data = { model: 'organization.description',
            class: '{error: invalidField(form.description.$invalid)}' }
        %textarea{ rows: '4', name: 'description', ng: ng_data, required: true }
      %small.error{ ng: { show: 'invalidField(form.description.$error.required)' } } required

      %label{ ng: { class: '{error: invalidField(form.payment.$invalid)}' } }
        Payment
        - ng_data = { model: 'organization.payment',
            class: '{error: invalidField(form.payment.$invalid)}',
            currency: true }
        %input{ type: 'text', name: 'payment', ng: ng_data, required: true, min: 0 }
      %small.error{ ng: { show: 'invalidField(form.payment.$error.required)' } } required
      %small.error{ ng: { show: 'invalidField(form.payment.$error.min)' } }
        Enter the payment amount

      %label
        Project Completion Date (Optional)
        - ng_data = { model: 'organization.deadline',
            class: '{error: invalidField(form.deadline.$invalid)}' }
        %input{ type: 'date', name: 'deadline', ng: ng_data, placeholder: 'yyyy-MM-dd' }
      %small.error{ ng: { show: 'invalidField(form.deadline.$error.date)' } }
        Must be a date.

      %label
        Inspiration Links (Links to videos that you'd like your video to look like; Optional)
        - ng_data = { model: 'organization.inspiration_links',
            class: '{error: invalidField(form.inspiration_links.$invalid)}' }
        %textarea{ rows: '4', name: 'inspiration_links', ng: ng_data }

      %label
        Additional Comments (Optional)
        - ng_data = { model: 'organization.extra_resources',
            class: '{error: invalidField(form.extra_resources.$invalid)}' }
        %textarea{ rows: '4', name: 'extra_resources', ng: ng_data } }

      %small.error{ ng: { show: 'invalidField(!form.$valid)' } }
        Please fix the errors in red above.
      - submit_ng_data = { disabled: 'saving || invalidField(!form.$valid)' }
      %input.button.radius{ ng: submit_ng_data, type: 'submit', value: 'SUBMIT' }

  %div{ ng: { show: 'created' } }
    %h1 Thanks for signing up!
    %p We hope to find you a filmmaker soon.
    %button.button.radius{ ng: { click: 'clear()' } } ADD ANOTHER PROJECT
