.success-story
  .row
    .medium-6.columns
      .flex-video.success-story__video
        %div{ ng: { switch: '!!shouldLoadVideo' } }
          - placeholder_url = 'url({{successStory|successStoryImage}})'
          .success-story__video-placeholder{ style: "background-image: #{placeholder_url}",
              ng: { switch: { when: 'false' } } }
          %div{ ng: { switch: { when: 'true' } } }
            %embed-video{ 'iframe-id' => '{{successStory.getVideoId()}}',
                api: '1',
                enablejsapi: '1',
                player_id: '{{successStory.getVideoId()}}',
                ng: { href: '{{successStory|successStoryVideoUrl}}' },
                portrait: '0',
                title: '0',
                byline: '0' }
    .medium-6.columns.success-story-profiles
      .success-story__profile-linker
      .row.success-story-profiles-content
        .small-6.columns.text-center
          %strong Video for:
          %br
          .success-story__profile-image
            %img{ ng: { src: '{{successStory.videoFor|imageForVideoFor}}' } }
          %span{ ng: { switch: '!!successStory.videoFor.website' } }
            %span{ ng: { switch: { when: 'false' } } }
              {{successStory.videoFor.name}}
            %span{ ng: { switch: { default: true } } }
              %a{ ng: { href: '{{successStory.videoFor.website}}' }, target: '_blank' }
                {{successStory.videoFor.name}}
        .small-6.columns.text-center
          %strong Filmmaker:
          %br
          .success-story__profile-image
            %img{ ng: { src: '{{successStory.filmmaker|imageForFilmmaker}}' } }
          {{successStory.filmmaker.name}}
  %br
  .show-for-medium-up
    %p{ ng: { 'bind-html' => 'successStory.videoFor.info|safeHtml' } }
    %p{ ng: { 'bind-html' => 'successStory.filmmaker.info|safeHtml' } }
