%amass-heading{ title: 'Pricing' }

.row.row-content.amass-section.pricing-dashboard
  %p
    We match projects that have budget range from
  .pricing-indicator-img
  %p.bold
    Our most common project budget is &nbsp;
    %span.green $2K

.amass-section.project-include
  .row.row-content
    %h2 Project typically include
    %ul
      %li
        %i.fa.fa-clock-o.fa-flip-horizontal
        20 seconds to 3 min. in length
      %li
        %i.fa.fa-microphone
        Voice-over narration
      %li
        %i.fa.fa-comment
        2-3 interviewees
      %li
        %i.fa.fa-align-left.fa-flip-vertical
        Basic opening & ending credits
      %li
        %i.fa.fa-picture-o
        Editing of existing photographs from clients
      %li
        %i.fa.fa-music
        A music track (sourced from free public domain or stock music tracks)

.amass-section.faq
  .row.row-content
    %h2 Frequently asked questions

    %p.question
      What types of video projects does Amass match?
    %p.answer
      Amass matches a wide variety of projects, including "about us" videos,&nbsp;
      explainers, event coverage, commercials, music videos, pitch videos, etc.

    %p.question
      What kind of videographers does Amass have access to?
    %p.answer
      Amass has access to and constantly reaches out to videographers with &nbsp;
      different backgrounds and experience levels. Our list of videographers &nbsp;
      includes students/emerging filmmakers, professional filmmakers, freelance &nbsp;
      editors and videographers, etc.

    %p.question
      Run me through the matching process. How does Amass find a match?
    %p.answer
      Shortly after you post a project on the <a href="/organizations/sign-up">
      Amass website</a>, we will send a confirmation and start processing your &nbsp;
      request. We will then recommend to you the top candidates who are interested &nbsp;
      from our videographer network. You can review the top candidates’ &nbsp;
      portfolios and schedule time to interview them. Once you find an ideal &nbsp;
      match, Amass will provide a set of production resources (contract, production &nbsp;
      checklist, release forms, etc.) to both ends. If you are unable to find a &nbsp;
      match through Amass, Amass does not charge any fee and will be happy to &nbsp;
      continue searching for other potential candidates for you.

    %p.question
      How much does Amass charge? When is the payment made?
    %p.answer
      Amass charges service fee only when a match is made, 10% for non-profit &nbsp;
      organizations and 15% for for-profit companies. The service fee will be &nbsp;
      on top of the project budget. For example, if your video project budget &nbsp;
      is $2000, we will charge $200 from that budget if you are non-profit &nbsp;
      and $300 if you are for-profit, which means the total will come out to &nbsp;
      $2200 and $2300 respectively. Once you confirm the selection &nbsp;
      of a videographer via Amass, Amass will issue an invoice to you for the &nbsp;
      service fee. The remainder payment is handled between the organization &nbsp;
      and videographer themselves.

    %p.question
      What if I would like more, such as animations and actors, than what's in &nbsp;
      Amass' "typical video"? Would Amass be able to find a videographer for me?
    %p.answer
      Yes, absolutely. Since we have access to videographers with different &nbsp;
      skills and experiences, we are confident that we can find videographers &nbsp;
      to cater to video projects with higher production value. Videos with more &nbsp;
      technical specifications do demand higher budget. We are happy to chat &nbsp;
      with you and hear your needs and expectations. Contact us at &nbsp;
      <a href="mailtocontact@amassmedia.org">contact@amassmedia.org </a>.
