%amass-heading{ title: 'Pricing' }

.row.row-content.amass-section.pricing_dashboard
  %p
    We match projects that have budget range from
  %img{ ng: { src: '/assets/pricing/dashboard.png' } }
  %p.bold
    Our most common project budget is &nbsp;
    %span.green $2K

.amass-section.project_include
  .row.row-content
    %h2 Project typically include
    %ul
      %li
        %i.fa.fa-clock-o.fa-flip-horizontal
        20 seconds to 3 min. in length
      %li
        %i.fa.fa-microphone
        Voice-over narration
      %li
        %i.fa.fa-comment
        2-3 interviewees
      %li
        %i.fa.fa-align-left.fa-flip-vertical
        Basic opening & ending credits
      %li
        %i.fa.fa-picture-o
        Editing of existing photographs from clients
      %li
        %i.fa.fa-music
        A music track (sourced from free public domain or stock music tracks)

.amass-section.faq
  .row.row-content
    %h2 Frequently asked questions

    %p.question
      What types of video projects does Amass match?
    %p.answer
      Amass matches a wide variety of projects, including “about us” videos, explainers, event coverage, commercials, music videos, pitch videos, etc.

    %p.question
      What kind of videographers does Amass have access to?
    %p.answer
      Amass has access and constantly reaches out to filmmakers with different backgrounds and experience levels. Our list of videographers include students/emerging filmmakers, professional filmmakers, freelance editors and videographers etc.

    %p.question
      Run me through the matching process. How does Amass find a match?
    %p.answer
      Shortly after you post a project on the <a href="/">Amass websit</a>, you will hear from us to confirm that we have started processing your project request. According to the project description you provide, we will then review our videographers’ portfolios and select the top candidates to recommend you. Meanwhile, we will confirm with these videographers for their interest and availability for the project. You can review the top three candidates’ portfolios and schedule time to interview them. Once you find an ideal match, Amass provides a set of production resources (contract, production checklist etc.) to both ends. If you are unable to find a match through Amass, Amass does not charge any fee and will be happy to continue searching for other potential candidates upon their availability.


    %p.question
      How/How much does Amass charge? When is the payment made?
    %p.answer
      Amass charges service fee only when a match is made, 10% for non-profit organizations and 15% for for-profit companies. The service fee will be on top of the project budget. For example, if your video project budget is $2000, we will charge $200 from that budget if you are non-profit organization and $300 if you are for-profit, which means the total will come out to $2200 and $2300 respectively. Once you confirm the selection of a videographer via Amass, Amass will issue an invoice to you for the service fee. The remainder payment is handled between the organization and videographer themselves.

    %p.question
      What if I would like more, such as animations and actors, than what’s in Amass’ “typical video”? Would Amass be able to find a videographer for me?
    %p.answer
      Yes, absolutely. Since we have access to videographers with different skills and experiences, we are confident that we can find videographers to cater to video projects with higher production value. Videos with more technical specifications do demand higher budget. We are happy to chat with you and hear your needs and expectations. Contact us at <a href="mailtocontact@amassmedia.org">contact@amassmedia.org </a>.
