.amass__topbar.fixed.contain-to-grid
  %top-bar{ scrolltop: 'false' }
    %ul.title-area
      %li.name
        = link_to '/' do
          .amass-logo

    %top-bar-section
      %ul.right
        %li{ ng: { class: "{active: isSelected('/organizations/sign-up')}" } }
          - analytics_data = { on: true,
              event: 'Go to sign-up',
              location: 'Topbar',
              type: 'organization' }
          %a.show-for-medium-up{ href: '/organizations/sign-up', analytics: analytics_data }
            Post a Project
        %li{ ng: { class: "{active: isSelected('/filmmakers/sign-up')}" } }
          - analytics_data = { on: true,
              event: 'Go to sign-up',
              location: 'Topbar',
              type: 'filmmaker' }
          %a.show-for-medium-up{ href: '/filmmakers/sign-up', analytics: analytics_data }
            Be a Filmmaker
        %li{ ng: { class: "{active: isSelected('/pricing')}" } }
          - analytics_data = { on: true, event: 'Pricing', location: 'Topbar' }
          %a.show-for-large-up{ href: '/pricing', analytics: analytics_data }
            Pricing
        -#
          %li{ ng: { class: "{active: isSelected('/about')}" } }
            - analytics_data = { on: true, event: 'About us', location: 'Topbar' }
            %a.show-for-large-up{ href: '/about', analytics: analytics_data }
              About Us
