<div class="organizations sign-up">
  <div ng-hide="created">
    <h1>Make a free project posting</h1>
    <p class="intro text-content">We'll be launching our platform soon but are currently matching projects informally to our network of filmmakers</p>

    <form novalidate name="form" ng-submit="create()">
      <div class="form-error" ng-show="formError">{{formError}}</div>
      <div class="input-block">
        <label for="organization-name" class="input-label small-emphasis">Organization Name</label>
        <input type="text" name="organization_name" id="organization-name" ng-model="organization.organization_name" ng-class="{error: invalidField(form.organization_name.$invalid)}" required>
        <span class="error-message" ng-show="invalidField(form.organization_name.$error.required)">required</span>
      </div>

      <div class="input-block">
        <label for="organization-description" class="input-label small-emphasis">Organization Description</label>
        <input type="text" name="organization_description" id="organization-description" ng-model="organization.organization_description" ng-class="{error: invalidField(form.organization_description.$invalid)}" required>
        <span class="error-message" ng-show="invalidField(form.organization_description.$error.required)">required</span>
      </div>

      <div class="input-block">
        <label for="contact-name" class="input-label small-emphasis">Contact Name</label>
        <input type="text" name="contact_name" id="contact-name" ng-model="organization.contact_name" ng-class="{error: invalidField(form.contact_name.$invalid)}" required>
        <span class="error-message" ng-show="invalidField(form.contact_name.$error.required)">required</span>
      </div>

      <div class="input-block">
        <label for="contact-email" class="input-label small-emphasis">Contact Email</label>
        <input type="email" name="contact_email" id="contact-email" ng-model="organization.contact_email" ng-class="{error: invalidField(form.contact_email.$invalid)}" required>
        <span class="error-message" ng-show="invalidField(form.contact_email.$error.required)">required</span>
        <span class="error-message" ng-show="invalidField(form.contact_email.$error.email)">invalid email</span>
      </div>

      <div class="input-block">
        <label for="project-name" class="input-label small-emphasis">Project Title (ex: Kickstarter Video for EthiCal Apparel)</label>
        <input type="text" name="project_name" id="project-name" ng-model="organization.project_name" ng-class="{error: invalidField(form.project_name.$invalid)}" required>
        <span class="error-message" ng-show="invalidField(form.project_name.$error.required)">required</span>
      </div>

      <div class="input-block">
        <label for="project-blurb" class="input-label small-emphasis">Project Blurb (110 Character Preview of Your Project)</label>
        <textarea name="project_blurb" id="project-blurb" ng-model="organization.project_blurb" ng-class="{error: invalidField(form.project_blurb.$invalid)}" class="medium-area" ></textarea>
        <span class="error-message" ng-show="invalidField(form.project_blurb.$error.required)">required</span>
      </div>

      <div class="input-block">
        <label for="description" class="input-label small-emphasis">Detailed Project Description</label>
        <textarea name="description" id="description" class="large-area" ng-model="organization.description" ng-class="{error: invalidField(form.description.$invalid)}" required></textarea>
        <span class="error-message" ng-show="invalidField(form.description.$error.required)">required</span>
      </div>

      <div class="input-block">
        <label for="video-length" class="input-label small-emphasis">Approximate Length of Video</label>
        <input type="number" name="video_length" id="video-length" ng-model="organization.video_length" ng-class="{error: invalidField(form.video_length.$invalid)}" required>
        <span class="error-message" ng-show="invalidField(form.video_length.$error.required)">required</span>
        <span class="error-message" ng-show="invalidField(form.video_length.$error.number)">invalid number</span>
      </div>

      <div class="input-block">
        <label for="location" class="input-label small-emphasis">Filming Location(s)</label>
        <input type="text" name="location" id="location" ng-model="organization.location" ng-class="{error: invalidField(form.location.$invalid)}" required>
        <span class="error-message" ng-show="invalidField(form.location.$error.required)">required</span>
      </div>

      <div class="input-block">
        <label for="deadline" class="input-label small-emphasis">Deadline to Apply for Project</label>
        <input type="date" name="deadline" id="deadline" ng-model="organization.deadline" ng-class="{error: invalidField(form.deadline.$invalid)}" required>
        <span class="error-message" ng-show="invalidField(form.deadline.$error.required)">required</span>
      </div>

      <div class="input-block">
        <label for="payment" class="input-label small-emphasis">Payment</label>
        <input type="number" name="payment" id="payment" ng-model="organization.payment" ng-class="{error: invalidField(form.payment.$invalid)}" required>
        <span class="error-message" ng-show="invalidField(form.payment.$error.required)">required</span>
        <span class="error-message" ng-show="invalidField(form.payment.$error.number)">Payment must be a number.</span>
      </div>

      <div class="input-block">
        <label for="payment-includes-expenses" class="input-label small-emphasis">Does the payment include expenses (e.g. food, transportation)?</label>
        <label>
          <input type="radio" name="payment-includes-expenses" ng-value="true" ng-model="organization.payment_includes_expenses" class="small-radio-input"><span class="small-font small-input-label">Yes</span>
        </label>
        <label>
          <input type="radio" name="payment-includes-expenses" ng-value="false" ng-model="organization.payment_includes_expenses" class="small-radio-input"><span class="small-font small-input-label">No</span>
        </label>
      </div>

      <div class="input-block">
        <label for="inspiration-links" class="input-label small-emphasis">OPTIONAL Inspiration Links (links to examples of videos that you'd like your video to look like)</label>
        <textarea name="inspiration_links" id="inspiration-links" ng-model="organization.inspiration_links" ng-class="{error: invalidField(form.inspiration_links.$invalid)}"></textarea>
      </div>

      <div class="input-block">
        <label for="extra-resources" class="input-label small-emphasis">OPTIONAL Extra resources that your organization can offer (e.g. food, transportation, filming equipment, crew, etc.)</label>
        <textarea name="extra_resources" id="extra-resources" ng-model="organization.extra_resources" ng-class="{error: invalidField(form.extra_resources.$invalid)}"></textarea>
      </div>

      <input class="btn submit" ng-disabled="saving" type="submit" value="SUBMIT">
    </form>
  </div>
  <div ng-show="created">
    <h1>Thanks for signing up!</h1>
    <p>We hope to find you a filmmaker soon.</p>
    <button class="btn add-another" ng-click="clear()">ADD ANOTHER PROJECT</button>
  </div>
</div>
