<div class="navbar" ng-controller="NavBarCtrl">
  <a class="navbar-item picture" ng-class="{selected: isSelected('/')}" href="#/"><div class="amass-logo"></div></a>
  <a class="navbar-item" ng-class="{selected: isSelected('/about')}" href="#/about">About</a>
  <a class="navbar-item" ng-class="{selected: isSelected('/charity/new')}" href="#/charity/new">Post a Project</a>
  <a class="navbar-item" ng-class="{selected: isSelected('/videographer/new')}" href="#/videographer/new">Find a Project</a>
  <a class="btn right sign-up" href="#/charity/new">SIGN UP</a>
</div>

<div ng-view></div>
