<div class="navbar">
  <a class="navbar-item picture" href="#/"><div class="amass-logo"></div></a>
  <a class="navbar-item" href="#/about">About</a>
  <a class="navbar-item" href="#/charity/new">Post a Project</a>
  <a class="navbar-item" href="#/videographer/new">Find a Project</a>
</div>

<div ng-view></div>
