- attributes = %w(name email skills city portfolio_url)

= render 'mailer_template',
    title: 'A filmmaker has signed up!',
    data: attributes.map { |attribute| [attribute.capitalize.tr('_', ' '),
      @filmmaker.send(attribute)] }
