:ruby
  attributes = %w(email type)

= render 'mailer_template',
    title: 'A follower has signed up!',
    data: attributes.map { |attribute| [attribute.capitalize.tr('_', ' '),
      @follower.send(attribute)] }
