:ruby
  attributes = %w(
    organization_name organization_description contact_email contact_name
    payment description deadline inspiration_links extra_resources
  )

= render 'mailer_template',
    title: 'An organization has signed up!',
    data: attributes.map { |attribute| [attribute.capitalize.tr('_', ' '),
      @organization.send(attribute)] }
