<h1>Join our filmmaker network!</h1>
<p>Sign up for our filmmaker mailing list and we will notify you about new project opportunities that you can apply for.</p>
<form novalidate name="form" ng-submit="create()" ng-hide="created">
  <div class="form-error" ng-show="formError">{{formError}}</div>
  <div class="input-block">
    <label for="name" class="input-label">Name</label>
    <input type="text" name="name" id="name" ng-model="videographer.name" ng-class="{error: invalidField(form.name.$invalid)}" required>
    <span class="error-message" ng-show="invalidField(form.name.$error.required)">Your name is required.</span>
  </div>

  <div class="input-block">
    <label for="email" class="input-label">Email</label>
    <input type="email" name="email" id="email" ng-model="videographer.email" ng-class="{error: invalidField(form.email.$invalid)}" required>
    <span class="error-message" ng-show="invalidField(form.email.$error.required)">Your email is required.</span>
    <span class="error-message" ng-show="invalidField(form.email.$error.email)">Not a valid email.</span>
  </div>

  <div class="input-block">
    <label for="skills" class="input-label">Brief Overview of Skills/Experience</label>
    <textarea name="skills" id="skills" ng-model="videographer.skills" ng-class="{error: invalidField(form.skills.$invalid)}" required></textarea>
    <span class="error-message" ng-show="invalidField(form.skills.$error.required)">Your skills/experience are required.</span>
  </div>

  <div class="input-block">
    <label for="portfolio-url" class="input-label">OPTIONAL Link to portfolio</label>
    <input type="url" name="portfolio-url" id="portfolio-url" ng-model="videographer.portfolio_url" ng-class="{error: invalidField(form.portfolio-url.$invalid)}">
  </div>

  <input ng-disabled="saving" type="submit">
</form>
<div ng-show="created">Thanks for your interest! We hope to find you a project soon.</div>

