.row.amass-section{ ng: { controller: 'SuccessStoriesCarouselCtrl' } }
  %h1.text-center Success Stories
  %br
  - slick_data = { init: 'initVideoTracking()',
      'before-change' => 'trackSlickChange();pauseCurrentVideo()',
      'after-change' => 'updateCurrentVideo(currentSlide)' }
  %slick{ dots: 'true', slick: slick_data, draggable: 'false' }
    %div{ ng: { repeat: 'successStory in successStories' } }
      %success-story{ 'success-story' => 'successStory',
          'should-load-video' => '{{carouselLoaded}}' }
  %br
  .text-center
    %a.button.outline.radius{ href: '/success-stories' } See More Stories
