$amass-green: #1c8778;
$amass-red: #d02b3b;
$amass-orange: #d7732d;
$black: #000;
$bg-gray: #efefea;
$flow-bg: #d1d3d4;
$flow-text: #4c4e4c;
$form-bg: #ef8383;
$input-border: #808080;
$transparent: rgba(0, 0, 0, 0);
$white: #fff;
