.team-bio__page-padding
.amass__breadcrumbs
  .row
    .amass__breadcrumb
      %a{ href: '/' } Home
    .amass__breadcrumb
      %a{ href: '/about' } About
    .amass__breadcrumb.current {{teamBio.fullName}}

.row.team-bio__detailed-bio
  .large-offset-1.large-3.columns
    %img{ ng: { src: '{{teamBio|imageForTeamBio}}' } }
    %br
    %br
    %p
      - %w(website twitter linkedin github).each do |media|
        %a{ ng: { if: "teamBio.#{media}", href: "{{teamBio.#{media}}}" } }
          :ruby
            icon_name =
              case media
              when 'website'
                'home'
              when 'github'
                'github-alt'
              else
                media
              end
          %span.fa-stack.fa-lg
            %i.fa.fa-circle.fa-stack-2x
            %i{ class: "fa fa-#{icon_name} fa-stack-1x fa-inverse" }
  .large-7.end.columns
    %h1{ 'view-title' => true } {{teamBio.fullName}}
    %p
      %em {{teamBio.fullPosition || teamBio.position}}
    %p{ ng: { 'bind-html': 'teamBio.bio|safeHtml' } }
    %p
      %label Favorite movie:
      {{teamBio.favoriteMovie}}

%ng-include{ src: "'team_bios/view.html'" }
