%amass-heading{ title: 'Success Stories' }

.amass__breadcrumbs
  .row
    .amass__breadcrumb
      %a{ href: '/' } Home
    .amass__breadcrumb.current Success Stories

.row.amass-section
  %div{ ng: { repeat: 'successStory in successStories' } }
    %h2
      %a{ href: '/success-stories/{{successStory.slug}}' } {{successStory.title}}
    %success-story{ 'success-story' => 'successStory' }
