.row.row-content{ ng: { controller: 'FollowCtrl' } }
  .text-center{ ng: { hide: 'created' } }
    %p Be the first to hear about what's coming up!
    %form{ novalidate: true, name: 'form', ng: { submit: 'create()' } }
      .form-error{ ng: { show: 'formError' } } {{formError}}

      - ng_data = { model: 'follower.email', class: '{error: invalidField(form.email.$invalid)}' }
      %input{ type: 'email',
          name: 'email',
          ng: ng_data,
          placeholder: 'Enter your email',
          required: true }
      %small.error{ ng: { show: 'invalidField(form.email.$error.required)' } } required
      %small.error{ ng: { show: 'invalidField(form.email.$error.email)' } } invalid email

      %div
        %label I am a:
        %label.label-radio
          %input{ type: :radio,
              name: 'type',
              value: 'filmmaker',
              ng: { model: 'follower.type' } }
          %span Filmmaker
        %label.label-radio
          %input{ type: :radio,
              name: 'type',
              value: 'organization',
              ng: { model: 'follower.type' } }
          %span Organization
        %label.label-radio
          %input{ type: :radio,
              name: 'type',
              value: 'other',
              ng: { model: 'follower.type' } }
          %span Other
      %br

      .text-center
        %input.button.radius.center{ ng: { disabled: 'saving' },
          type: 'submit',
          value: 'KEEP ME POSTED!' }

  .text-center{ ng: { show: 'created' } }
    %h1 Thanks for signing up!
    %p We'll send you periodic email updates about Amass Media.
