<div class="home">
  <div class="home-main-image">
    <div class="row row-content">
      <br />
      <br />
      <h1 class="text-center">Tell stories that matter</h1>
      <p class="text-center text-section">
        Amass Media empowers organizations to tell their social impact stories by creating an online platform that connects nonprofits, social ventures, and small businesses with talented filmmakers looking for interesting projects to work on.
      </p>
      <br />
      <div class="text-center">
        <a class="button radius new-filmmaker" href="#/filmmaker/new">BE A FILMMAKER</a>
        <a class="button radius post-project" href="#/organization/new">POST A PROJECT</a>
      </div>
    </div>
  </div>

  <div class="row"
    ng-controller="SuccessStoriesCtrl"
    ng-init="vimeo_video_ids = ['99172312', '101770406', '98571250']"
    >
    <br />
    <h1 class="text-center">Success Stories</h1>
    <br />
    <slick dots="true" amass-before-change="pauseVideo(currentSlide)">
      <div ng-repeat="vimeo_video_id in vimeo_video_ids">
        <div class="flex-video">
          <embed-video
            iframe-id="{{ 'vimeo-' + vimeo_video_id }}"
            api="1"
            player_id="{{ 'vimeo-' + vimeo_video_id }}"
            ng-href="{{ '//vimeo.com/' + vimeo_video_id }}"
            >
          </embed-video>
        </div>
      </div>
    </slick>
    <br />
  </div>

  <div class="home-how-it-works">
    <br />
    <div class="row">
      <h1 class="text-center">How it works</h1>
      <div class= "flow-chart-container">
        <div class="flow-item">
          <h2 class="flow-content-header">STEP 1</h2>
          <div class="flow-content">
            <div class="row">
              <div class="large-6 columns text-blurb-container">
                <div class="text-heading text-center"><b>Filmmakers</b></div>
                <div class="image filmmaker center"></div>
                <p class="text-blurb text-center">Sign up to get notified about relevant projects</p>

                <div class="text-center">
                  <a class="button radius new-filmmaker" href="#/filmmaker/new">BE A FILMMAKER</a>
                </div>
              </div>
              <div class="large-6 columns text-blurb-container">
                <div class="text-heading text-center"><b>Organizations</b></div>
                <div class="image org center"></div>
                <p class="text-blurb text-center">Submit a project listing for Amass Media to advertise to our network of filmmakers</p>
                <div class="text-center">
                  <a class="button radius post-project" href="#/organization/new">POST A PROJECT</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flow-item mini center">
          <h2 class="flow-content-header">STEP 2</h2>
          <div class="flow-content">
            <div class="text-blurb-container">
              <div class="text-heading text-center"><b>Amass Media</b></div>
              <div class="image amass center"></div>
              <p class="text-blurb text-center">Amass Media matches filmmakers with organizations</p>
            </div>
          </div>
        </div>
        <div class="flow-item mini center">
          <h2 class="flow-content-header">STEP 3</h2>
          <div class="flow-content">
            <div class="text-blurb-container">
              <div class="text-heading text-center"><b>Social Impact Video Projects</b></div>
              <div class="image video-grows center"></div>
              <p class="text-blurb text-center">Filmmakers work with organizations to make awesome video projects!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>

  <div class="row row-content">
    <br />
    <br />
    <div id="following-ctrl" ng-controller="FollowCtrl">
      <div ng-hide="created">
        <h1 class="text-center text-section">
          Amass Media won funding from the <a href="http://bigideas.berkeley.edu/contests/creative/" target="_blank">Big Ideas @ Berkeley Competition</a> to launch the idea.
          <br />
          Be the first to hear about what's coming up!
        </h1>
        <br />
        <form novalidate name="form" ng-submit="create()">
          <div class="form-error" ng-show="formError">{{formError}}</div>
          <div class="input-block large-centered">
            <input type="email" name="email" id="email" ng-model="follower.email" class="large-centered" ng-class="{error: invalidField(form.email.$invalid)}" placeholder="Enter your email" required>
            <span class="error-message" ng-show="invalidField(form.email.$error.required)">required</span>
            <span class="error-message" ng-show="invalidField(form.email.$error.email)">invalid email</span>
          </div>
          <div class="follower-choices text-center">
            <strong>I am a:&nbsp;&nbsp;</strong>
            <span class="follower-choice">
              <input type="radio" name="type" value="filmmaker" id="filmmaker-type" ng-model="follower.type">
              <label for="filmmaker-type">Filmmaker</label>
            </span>
            <span class="follower-choice">
              <input type="radio" name="type" value="organization" id="organization-type" ng-model="follower.type">
              <label for="organization-type">Organization</label>
            </span>
            <span class="follower-choice">
              <input type="radio" name="type" value="other" id="other-type" ng-model="follower.type">
              <label for="other-type">Other</label>
            </span>
          </div>
          <div class="text-center">
            <input class="button radius center submit" ng-disabled="saving" type="submit" value="KEEP ME POSTED!">
          </div>
        </form>
      </div>
      <div class="text-center" ng-show="created">
        <h1>Thanks for signing up!</h1>
        <p>We'll send you periodic email updates about Amass Media.</p>
        <button class="button radius center add-another" ng-click="clear()">ADD ANOTHER EMAIL</button>
      </div>
    </div>
  </div>
</div>
