.input-block {
  margin-bottom: 14px;

  .large-area {
    height: 300px;
  }

  .medium-area {
    height: 100px;
  }

  .input-label {
    display: block;
    margin-bottom: 2px;
  }

  .error-message {
    color: $error-red;
    font-size: 83%;
    margin-left: 4px;
  }

  input,
  textarea {
    border: 1px solid $input-border;
    border-radius: 3px;
    height: 30px;
    width: 300px;

    &.error {
      border: 1px $error-red solid;
    }

    &.large-centered {
      margin-left: 25%;
      width: 50%;
    }
  }

  .small-radio-input {
    vertical-align: middle;
    width: 20px;
  }

  .small-input-label {
    margin-right: 20px;
  }
}

.submit {
  margin-top: 20px;
}

.form-error {
  background-color: $form-bg;
  border: 2px solid $error-red;
  color: $white;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
}
