.text-section {
  line-height: 175%;
  margin-bottom: 0;
  margin-top: 20px;
}

.home-main-image {
  background: image-url('home-main-image.jpg') center top no-repeat;
  height: rem-calc(550px);

  .row {
    max-width: 100%;
    width: rem-calc(550px);
  }
}

.home-how-it-works {
  background: $amass-green;
  padding: 2em 0;

  h1,
  h2 {
    color: $white;
  }

  .post-project,
  .new-filmmaker {
    margin-top: 15px;
  }

  .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

    &.filmmaker {
      background-image: image-url('filmmaker.png');
      height: 55px;
      width: 90px;
    }

    &.amass {
      background-image: image-url('amass-icon.png');
      height: 55px;
      width: 70px;
    }

    &.video-grows {
      background-image: image-url('socialimpact-icon.png');
      height: 65px;
      width: 70px;
    }

    &.org {
      background-image: image-url('org-icon.png');
      height: 55px;
      width: 60px;
    }
  }

  .text-blurb-container {
    .text-heading {
      font-size: 125%;
      margin-bottom: 10px;
    }

    .text-blurb {
      line-height: 145%;
      margin-top: 5px;
    }
  }
}
