.home-main-image {
  $my-offset: rem-calc(30px);
  $my-bg: #afd9cd;

  background: center $my-offset no-repeat $my-bg;
  height: rem-calc(500px) + $my-offset;

  .row {
    max-width: 100%;
    padding-top: 3rem + $topbar-height;
    width: rem-calc(550px);
  }

  p {
    margin-top: 1rem;
  }

  @media #{$small-only} {
    background-image: image-url('home-main-image-small.jpg');

    .row {
      padding-top: 1rem + $topbar-height;
    }
  }

  @media #{$medium-up} {
    background-image: image-url('home-main-image.jpg');
  }
}

.home-how-it-works {
  background: $amass-green;

  &,
  h1,
  h5 {
    color: $white;
  }

  h5 {
    text-transform: uppercase;
  }

  .large-3.columns {
    margin-top: 1rem;
  }

  .image {
    $icon-width: 70px;

    background-color: $bg-gray-darker;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: $icon-width / 2;
    height: $icon-width;
    margin: 1rem auto;
    width: $icon-width;

    &.filmmaker {
      background-image: image-url('how-it-works/filmmaker-icon.png');
    }

    &.amass {
      background-image: image-url('how-it-works/amass-icon.png');
      background-size: 75%;
    }

    &.video-grows {
      background-image: image-url('how-it-works/socialimpact-icon.png');
      background-size: 75%;
    }

    &.org {
      background-image: image-url('how-it-works/org-icon.png');
    }
  }
}

.home-press {
  img {
    height: 60px;
  }

  p {
    color: $white;
    font-size: .9rem;
    font-style: italic;
    text-align: center;
  }

  blockquote {
    font-size: .9rem;
    text-align: left;
  }

  .large-6 {
    margin-top: 1rem;
  }

}

// form {
//   .email-signup {
//     margin: 0 auto;
//     max-width: 350px;
//     text-align: center;
//   }
// }
