.pricing-dashboard {
  text-align: center;

  p {
    color: $gray;
    font-size: 1.5em;

    span {
      color: $green;
    }
  }

  .pricing-indicator-img {
    background-image: url('pricing/dashboard.png');
    background-position: center;
    background-size: cover;
    height: 193px;
    margin: 0 auto;
    width: 320px;
  }

  img {
    margin-bottom: 20px;
    max-width: 350px;
  }
}

.project-include {
  background: $orange;
  color: $white;

  h2 {
    color: $white;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-top: 5px;

    li {
      font-size: 1.2em;
      padding-bottom: 5px;
    }

    i {
      display: inline-block;
      margin-right: 10px;
      min-width: 19px;
    }
  }
}


.faq {
  .question {
    color: $gray;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 15px;

    &:before {
      content: 'Q: ';
    }
  }

  .answer {
    &:before {
      content: 'A: ';
    }
  }
}
