.amass {
  @include e(topbar) {
    background: rgba($white, .95);

    a {
      text-decoration: none;
    }
  }

  @include e(heading) {
    $my-padding: .5rem;

    background: $amass-green;
    padding: ($my-padding + $topbar-height) 0 $my-padding;

    h1 {
      color: $white;
      font-family: $font-family-sans-serif;
    }
  }

  @include e(breadcrumbs) {
    @include crumb-container;
  }

  @include e(breadcrumb) {
    @include crumbs;
  }
}
