$amass-green: #6abaa5;
$amass-orange: #d77a5c;
$black: #000;
$bg-gray: #efefea;
$error-red: #e42828;
$flow-bg: #d1d3d4;
$flow-text: #4c4e4c;
$form-bg: #ef8383;
$input-border: #808080;
$transparent: rgba(0, 0, 0, 0);
$white: #fff;
