h1 {
  font-size: 150%;
  margin: 10px 0 10px 0;
  font-weight: bold;
}

body {
  background-color: #efefea;
  margin-bottom: 10px;
}

.text-content {
  line-height: 175%;
}

.small-emphasis {
  font-size: 83%;
  font-weight: bold;
}

.center {
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.almost-full-width {
  width: 91%;
}
