//= require fonts

h1 {
  font-family: 'aleoregular', sans-serif;
  font-size: 150%;
  font-weight: bold;
  margin: 10px 0;
}

body {
  background-color: #efefea;
  margin-bottom: 10px;
}

.text-content {
  line-height: 175%;
}

.small-font {
  font-size: 83%;
}

.small-emphasis {
  font-size: 83%;
  font-weight: bold;
}

.center {
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.almost-full-width {
  width: 91%;
}

.column-layout {
  overflow: hidden;

  .column {
    float: left;
    margin-right: 10%;
    width: 45%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn {
  background-color: #d77a5c;
  border: 0;
  border-radius: 3px;
  color: white;
  display: block;
  font-family: Arial;
  font-size: 84%;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
}

.right {
  float: right;
}
