//= require fonts

h1 {
  font-family: 'aleoregular', sans-serif;
}

body {
  background-color: #efefea;
}

.small-emphasis {
  font-size: 83%;
  font-weight: bold;
}

.center {
  margin: 0 auto;
}

.break-topbar {
  line-height: $topbar-height;
}

.amass-logo {
  background-image: image-url('amass_logo.png');
  height: $topbar-height;
  width: 280px;
}
