.flow-chart-container {
  .flow-item {
    margin-bottom: 50px;

    .flow-content-header {
      font-size: 150%;
      color: #4c4e4c;
      margin-bottom: 5px;
    }

    .flow-content {
      background-color: #d1d3d4;
      overflow: hidden;
      padding: 10px 20px 20px 20px;
    }

    &:after {
      content: "";
      position: absolute;
      background-image: image-url("arrow_icon.png");
      height: 64px;
      width: 120px;
      left: calc(50% - 60px);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }

    &:last-child {
      margin-bottom: 10px;

      &:after {
        background-image: none;
      }
    }

    &.mini {
      width: 60%;
    }
  }
}
