$errorColor: #e42828;

.input-block {
  margin-bottom: 14px; 


  .input-label {
    display: block;
    margin-bottom: 2px;
  }

  input.error, textarea.error {
    border: 1px $errorColor solid;
  }

  .error-message {
    color: $errorColor;
    font-size: 83%;
    margin-left: 4px;
  }

  input, textarea {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid grey;

    &.large-centered {
      width: 70%;
      margin-left: 15%;
    }
  }
}

.submit {
  margin-top: 20px;
}

.form-error {
  border: 2px solid $errorColor;
  background-color: #ef8383; 
  color: white;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
}
