$errorColor: #e42828;

.input-block {
  margin-bottom: 14px; 

  .input-label {
    display: block;
    margin-bottom: 2px;
  }

  input.error, textarea.error {
    border: 1px $errorColor solid;
  }

  .error-message {
    color: $errorColor;
    font-size: 83%;
    margin-left: 4px;
  }

  input, textarea {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid grey;
  }
}

.submit {
  width: 75px;
  margin-top: 40px;
}

.form-error {
  border: 2px solid $errorColor;
  background-color: #ef8383; 
  color: white;
  margin-bottom: 20px;
  padding: 5px;
}
