$error-color: #e42828;

.input-block {
  margin-bottom: 14px;

  .large-area {
    height: 300px;
  }

  .medium-area {
    height: 100px;
  }

  .input-label {
    display: block;
    margin-bottom: 2px;
  }

  input.error,
  textarea.error {
    border: 1px $error-color solid;
  }

  .error-message {
    color: $error-color;
    font-size: 83%;
    margin-left: 4px;
  }

  input,
  textarea {
    border: 1px solid #808080;
    border-radius: 3px;
    height: 30px;
    width: 300px;

    &.large-centered {
      margin-left: 25%;
      width: 50%;
    }
  }

  .small-radio-input {
    vertical-align: middle;
    width: 20px;
  }

  .small-input-label {
    margin-right: 20px;
  }
}

.submit {
  margin-top: 20px;
}

.form-error {
  background-color: #ef8383;
  border: 2px solid $error-color;
  color: #fff;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
}
