.home {
  width: 80%;

  .post-project, .new-filmmaker {
    margin-top: 15px;
  }

  .post-project {
    width: 120px;
  }

  .new-filmmaker {
    width: 130px;
  }

  .section {
    padding: 20px 10% 30px 10%;
    border-bottom: 1px solid #5d5d5d;

    &:last-child {
      border: none;
    }
  }

  .text-section {
    margin-top: 20px;
    margin-bottom: 0px;
    line-height: 175%;
  }

  .image {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    &.filmmaker {
      height: 55px;
      width: 90px;
      background-image: image-url("filmmaker.png");
    }

    &.amass {
      height: 55px;
      width: 70px;
      background-image: image-url("amass_icon.png");
    }

    &.video-grows {
      height: 65px;
      width: 70px;
      background-image: image-url("socialimpact_icon.png");
    }

    &.org {
      height: 55px;
      width: 60px;
      background-image: image-url("org_icon.png");
    }
  }

  .text-blurb-container {
    .text-heading {
      margin-bottom: 10px;
      font-size: 125%;
    }

    .text-blurb {
      line-height: 145%;
      margin-top: 5px;
    }
  }
}
