.home {
  width: 80%;

  .post-project, .new-videographer {
    margin-top: 15px;
  }

  .post-project {
    width: 120px;
  }

  .new-videographer {
    width: 210px;
  }

  .section {
    padding: 20px 10% 30px 10%;
    border-bottom: 1px solid #5d5d5d;

    &:last-child {
      border: none;
    }
  }

  .text-section {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 175%;

    &.large-spacing {
      margin-top: 30px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .image {
    height: 120px;
    width: 130px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    &.airplane {
      background-image: image-url("plane_vector.png");
    }

    &.notepad {
      background-image: image-url("notes_vector.png");
    }
  }

  .text-blurb-container {
    width: 160px;

    &.mini {
      width: 120px;
    }

    .text-heading {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .text-blurb {
      line-height: 175%;
    }
  }
}
