.home {
  width: 60%;
  margin-top: 30px;

  .section {
    margin-bottom: 50px;
  }

  .text-section {
    margin-top: 20px;
    margin-bottom: 20px;

    &.large-spacing {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}
