.home,
.home-how-it-works {
  > .row {
    margin: 1em auto;
  }
}

.home-success-video {
  position: relative;
  padding-bottom: 56.25%; // ratio
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.home-main-image {
  background: url(asset-path('home-main-image.jpg')) center top;
  height: 550px;

  .row {
    width: 500px;
  }
}

.home-how-it-works {
  background: $amass-green;

  h1,
  h2 {
    color: $white;
  }
}

.home {
  .post-project,
  .new-filmmaker {
    margin-top: 15px;
  }

  .text-section {
    line-height: 175%;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

    &.filmmaker {
      background-image: image-url('filmmaker.png');
      height: 55px;
      width: 90px;
    }

    &.amass {
      background-image: image-url('amass_icon.png');
      height: 55px;
      width: 70px;
    }

    &.video-grows {
      background-image: image-url('socialimpact_icon.png');
      height: 65px;
      width: 70px;
    }

    &.org {
      background-image: image-url('org_icon.png');
      height: 55px;
      width: 60px;
    }
  }

  .text-blurb-container {
    .text-heading {
      font-size: 125%;
      margin-bottom: 10px;
    }

    .text-blurb {
      line-height: 145%;
      margin-top: 5px;
    }
  }

  .follower-choices {
    .follower-choice {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
