$navbar-height: 70px;

.navbar {
  border-bottom: 1px solid #5d5d5d;
  background-color: white;
  overflow: hidden;
  padding-left: 35px;
  padding-right: 100px;

  .navbar-item {
    float: left;
    text-decoration: none;
    color: black;
    line-height: $navbar-height;
    height: $navbar-height;
    padding: 0 15px 0 15px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 83%;

    &:hover, &.selected {
      background-color: #e6e7e8;
    }

    &.picture {
      margin-right: 20px;

      &.selected {
        background-color: transparent;
      }
    }
  }
}

.amass-logo {
  width: 230px;
  height: 70px;
  background-image: image-url("amass_logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 3px;
}

.sign-up {
  width: 80px;
  margin-top: ($navbar-height - 35) / 2;
}
