.sign-up.filmmaker,
.sign-up.organizations {
  margin-left: 20%;
  margin-top: 30px;
  width: 70%;

  .intro {
    margin-bottom: 20px;
    width: 450px;
  }
}

.add-another {
  margin-top: 30px;
  width: 200px;
}

