@import 'variables/index';

@function image-url($path) {
  @return asset-url('slick-carousel/slick/' + $path);
}

@function font-url($path) {
  @return asset-url('slick-carousel/slick/fonts/' + $path);
}

$slick-arrow-color: $amass-orange;
$slick-arrow-size: rem-calc(50px);
$slick-dot-color: $amass-orange;
$slick-dot-size: rem-calc(15px);
$slick-opacity-default: 1;

@import 'slick-carousel';

.slick-prev,
.slick-next {
  height: $slick-arrow-size;
  width: $slick-arrow-size;

  &:hover:before {
    color: scale-color($slick-arrow-color, $lightness: -14%);
  }

  &:before {
    @include transition(color 300ms ease-out, opacity 300ms ease-out);

    font-size: rem-calc(50px);
  }
}

.slick-next {
  right: -1 * ($slick-arrow-size + rem-calc(5px));
}

.slick-prev {
  left: -1 * ($slick-arrow-size + rem-calc(5px));
}

.slick-dots {
  margin-left: 0;

  li button {
    &:before {
      @include transition(color 300ms ease-out, opacity 300ms ease-out);
    }

    &:hover:before {
      color: scale-color($slick-dot-color, $lightness: -14%);
    }
  }
}

.slick-slider {
  margin-left: 60px;
  margin-right: 60px;
}
