%h3 {{teamBio.fullName}}
%p {{teamBio.bio}}
.team-bio__profile-image
  %img{ ng: { src: '{{teamBio|imageForTeamBio}}' } }
%p
  %label Favorite movie:
  {{teamBio.favoriteMovie}}
%a.close-reveal-modal{ ng: { click: 'close()' } } &#215;
