.home-main-image
  .row.row-content
    %h1.text-center Tell stories that matter
    %p.text-center
      Amass Media connects nonprofits and for-profit businesses, no matter&nbsp;
      their size, with emerging and established filmmakers to tell&nbsp;
      impactful stories
    %br
    %ul.button-group.radius.text-center
      %li
        - analytics_data = { on: true,
            event: 'Go to sign-up',
            location: 'Home-page image',
            type: 'filmmaker' }
        %a.button.new-filmmaker{ href: '/filmmakers/sign-up', analytics: analytics_data }
          BE A FILMMAKER
      %li
        - analytics_data = { on: true,
            event: 'Go to sign-up',
            location: 'Home-page image',
            type: 'organization' }
        %a.button.post-project{ href: '/organizations/sign-up', analytics: analytics_data }
          POST A PROJECT

%ng-include{ src: "'success_stories/carousel/view.html'" }

.home-how-it-works.amass-section
  .row
    %h1.text-center How it works

    .large-3.medium-6.columns
      %h5.text-center Filmmakers
      .image.filmmaker.center
      %p.text-center
        &nbsp;Sign up to get notified about relevant projects
    .large-3.medium-6.columns
      %h5.text-center Organizations
      .image.org.center
      %p.text-center
        &nbsp;Submit a project listing for Amass Media to advertise to our filmmakers

    .large-3.medium-6.columns
      %h5.text-center Amass Media
      .image.amass.center
      %p.text-center Matches filmmakers with organizations

    .large-3.medium-6.columns
      %h5.text-center Video Projects
      .image.video-grows.center
      %p.text-center Filmmakers work with organizations to produce awesome video projects!

  %br
  %br
  .row
    %ul.button-group.radius.text-center
      %li
        - analytics_data = { on: true,
            event: 'Go to sign-up',
            location: 'How it works',
            type: 'filmmaker' }
        %a.button.new-filmmaker{ href: '/filmmakers/sign-up', analytics: analytics_data }
          BE A FILMMAKER
      %li
        - analytics_data = { on: true,
            event: 'Go to sign-up',
            location: 'How it works',
            type: 'organization' }
        %a.button.post-project{ href: '/organizations/sign-up', analytics: analytics_data }
          POST A PROJECT

%ng-include{ src: "'follower/view.html'" }
