.row.row-content
  %br
  %h1 Contact Us
  %p Questions, concerns, comments, want to join us, or anything else?
  %p
    Please feel free to contact us at
    = succeed '.' do
      = link_to 'contact@amassmedia.org', 'mailto:contact@amassmedia.org'
