.home-main-image
  .row.row-content
    %br
    %br
    %h1.text-center Tell stories that matter
    %p.text-center.text-section.hide-for-small-only
      Amass Media empowers organizations to tell their social impact stories by&nbsp;
      creating an online platform that connects nonprofits, social ventures,&nbsp;
      and small businesses with talented filmmakers looking for interesting&nbsp;
      projects to work on.
    %p.text-center.text-section.show-for-small-only
      Amass Media empowers organizations to tell their social impact stories&nbsp;
      by connecting them with talented filmmakers looking for interesting&nbsp;
      projects.
    %br
    %ul.button-group.radius.text-center
      %li
        - analytics_data = { on: true,
            event: 'Go to sign-up',
            location: 'Home-page image',
            type: 'filmmaker' }
        %a.button.new-filmmaker{ href: '/filmmaker/new', analytics: analytics_data }
          BE A FILMMAKER
      %li
        - analytics_data = { on: true,
            event: 'Go to sign-up',
            location: 'Home-page image',
            type: 'organization' }
        %a.button.post-project{ href: '/organization/new', analytics: analytics_data }
          POST A PROJECT

.row.success-stories{ ng: { controller: 'SuccessStoriesCtrl' } }
  %br
  %h1.text-center Success Stories
  %br
  - slick_data = { init: 'initVideoTracking()',
      'before-change' => 'trackSlickChange();pauseCurrentVideo()',
      'after-change' => 'updateCurrentVideo(currentSlide)' }
  %slick{ dots: 'true', slick: slick_data, draggable: 'false' }
    .success-story{ ng: { repeat: 'successStory in successStories' } }
      .row
        .medium-6.columns
          .flex-video.success-story-video
            %div{ ng: { switch: 'loaded' } }
              - placeholder_url = 'url({{successStory.vimeoVideoId|imageForSuccessStory}})'
              .success-story-video-placeholder{ style: "background-image: #{placeholder_url}",
                  ng: { switch: { default: true } } }
              %div{ ng: { switch: { when: 'true' } } }
                %embed-video{ 'iframe-id' => "{{'vimeo-' + successStory.vimeoVideoId}}",
                    api: '1',
                    player_id: "{{'vimeo-' + successStory.vimeoVideoId}}",
                    ng: { href: "{{'https://vimeo.com/' + successStory.vimeoVideoId}}" },
                    portrait: '0',
                    title: '0',
                    byline: '0' }
        .medium-6.columns.success-story-profiles
          .success-story-profile-linker
          .row.success-story-profiles-content
            .small-6.columns.text-center
              %strong Video for:
              %br
              .success-story-profile-image
                %img{ ng: { src: '{{successStory.videoFor|imageForVideoFor}}' } }
              %span{ ng: { switch: '!!successStory.videoFor.website' } }
                %span{ ng: { switch: { when: 'false' } } }
                  {{successStory.videoFor.name}}
                %span{ ng: { switch: { default: true } } }
                  %a{ ng: { href: '{{successStory.videoFor.website}}' }, target: '_blank' }
                    {{successStory.videoFor.name}}
            .small-6.columns.text-center
              %strong Filmmaker:
              %br
              .success-story-profile-image
                %img{ ng: { src: '{{successStory.filmmaker|imageForFilmmaker}}' } }
              {{successStory.filmmaker.name}}
      %br
      .show-for-medium-up
        %p{ ng: { 'bind-html' => 'successStory.videoFor.info|safeHtml' } }
        %p{ ng: { 'bind-html' => 'successStory.filmmaker.info|safeHtml' } }
  %br

.home-how-it-works
  .row
    %h1.text-center How it works

    .large-3.medium-6.columns
      %h5.text-center Filmmakers
      .image.filmmaker.center
      %p.text-center
        &nbsp;Sign up to get notified about relevant projects
    .large-3.medium-6.columns
      %h5.text-center Organizations
      .image.org.center
      %p.text-center
        &nbsp;Submit a project listing for Amass Media to advertise to our filmmakers

    .large-3.medium-6.columns
      %h5.text-center Amass Media
      .image.amass.center
      %p.text-center Matches filmmakers with organizations

    .large-3.medium-6.columns
      %h5.text-center Video Projects
      .image.video-grows.center
      %p.text-center Filmmakers work with organizations to produce awesome video projects!

  %br
  %br
  .row
    %ul.button-group.radius.text-center
      %li
        - analytics_data = { on: true,
            event: 'Go to sign-up',
            location: 'How it works',
            type: 'filmmaker' }
        %a.button.new-filmmaker{ href: '/filmmaker/new', analytics: analytics_data }
          BE A FILMMAKER
      %li
        - analytics_data = { on: true,
            event: 'Go to sign-up',
            location: 'How it works',
            type: 'organization' }
        %a.button.post-project{ href: '/organization/new', analytics: analytics_data }
          POST A PROJECT

.row.row-content{ ng: { controller: 'FollowCtrl' } }
  %br
  %br
  .text-center{ ng: { hide: 'created' } }
    %h1.text-section.hide-for-small-only
      Amass Media won funding from the&nbsp;
      %a{ href: 'http://bigideas.berkeley.edu/contests/creative/', target: '_blank' }
        Big Ideas @ Berkeley Competition
      &nbsp;to launch the idea.
    %h1.text-section.show-for-small-only
      Amass Media won funding from the&nbsp;
      %a{ href: 'http://bigideas.berkeley.edu/contests/creative/', target: '_blank' }
        Big Ideas @ Berkeley Competition
      \.

    %br
    %br
    %p Be the first to hear about what's coming up!
    %form{ novalidate: true, name: 'form', ng: { submit: 'create()' } }
      .form-error{ ng: { show: 'formError' } } {{formError}}

      - ng_data = { model: 'follower.email', class: '{error: invalidField(form.email.$invalid)}' }
      %input{ type: 'email',
          name: 'email',
          ng: ng_data,
          placeholder: 'Enter your email',
          required: true }
      %small.error{ ng: { show: 'invalidField(form.email.$error.required)' } } required
      %small.error{ ng: { show: 'invalidField(form.email.$error.email)' } } invalid email

      %div
        %label I am a:
        %label.label-radio
          %input{ type: :radio,
              name: 'type',
              value: 'filmmaker',
              ng: { model: 'follower.type' } }
          %span Filmmaker
        %label.label-radio
          %input{ type: :radio,
              name: 'type',
              value: 'organization',
              ng: { model: 'follower.type' } }
          %span Organization
        %label.label-radio
          %input{ type: :radio,
              name: 'type',
              value: 'other',
              ng: { model: 'follower.type' } }
          %span Other
      %br

      .text-center
        %input.button.radius.center{ ng: { disabled: 'saving' },
          type: 'submit',
          value: 'KEEP ME POSTED!' }

  .text-center{ ng: { show: 'created' } }
    %h1 Thanks for signing up!
    %p We'll send you periodic email updates about Amass Media.
    %button.button.radius.center.add-another{ ng: { click: 'clear()' } } ADD ANOTHER EMAIL
