<br />
<div class="row row-content">
  <div ng-hide="created">
    <h1>Make a free project posting</h1>
    <p class="intro">We'll be launching our platform soon but are currently matching projects informally to our network of filmmakers</p>

    <p class="intro">Fill out a form below or contact <a href="mailto:contact@amassmedia.org">contact@amassmedia.org</a> for any questions </p>

    <form novalidate name="form" ng-submit="create()">
      <div class="form-error" ng-show="formError">{{formError}}</div>
      <label for="organization-name" ng-class="{error: invalidField(form.organization_name.$invalid)}">
        Organization Name
        <input type="text" name="organization_name" id="organization-name" ng-model="organization.organization_name" ng-class="{error: invalidField(form.organization_name.$invalid)}" required>
      </label>
      <small class="error" ng-show="invalidField(form.organization_name.$error.required)">required</small>

      <label for="organization-description">
        Organization Description (Optional)
        <input type="text" name="organization_description" id="organization-description" ng-model="organization.organization_description" ng-class="{error: invalidField(form.organization_description.$invalid)}">
      </label>

      <label for="contact-name" ng-class="{error: invalidField(form.contact_name.$invalid)}">
        Contact Name
        <input type="text" name="contact_name" id="contact-name" ng-model="organization.contact_name" ng-class="{error: invalidField(form.contact_name.$invalid)}" required>
      </label>
      <small class="error" ng-show="invalidField(form.contact_name.$error.required)">required</small>

      <label for="contact-email" ng-class="{error: invalidField(form.contact_email.$invalid)}">
        Contact Email
        <input type="email" name="contact_email" id="contact-email" ng-model="organization.contact_email" ng-class="{error: invalidField(form.contact_email.$invalid)}" required>
      </label>
      <small class="error" ng-show="invalidField(form.contact_email.$error.required)">required</small>
      <small class="error" ng-show="invalidField(form.contact_email.$error.email)">invalid email</small>

      <label for="description" ng-class="{error: invalidField(form.description.$invalid)}">
        Project Description (e.g. video purpose, audience, distribution, length, filming locations, and impact)
        <textarea rows="4" name="description" id="description" ng-model="organization.description" ng-class="{error: invalidField(form.description.$invalid)}" required></textarea>
      </label>
      <small class="error" ng-show="invalidField(form.description.$error.required)">required</small>

      <label for="payment" ng-class="{error: invalidField(form.payment.$invalid)}">
        Payment
        <input type="number" name="payment" id="payment" ng-model="organization.payment" ng-class="{error: invalidField(form.payment.$invalid)}" required>
      </label>
      <small class="error" ng-show="invalidField(form.payment.$error.required)">required</small>
      <small class="error" ng-show="invalidField(form.payment.$error.number)">Payment must be a number.</small>

      <label for="deadline">
        Project Completion Date (Optional)
        <input type="date" name="deadline" id="deadline" ng-model="organization.deadline" ng-class="{error: invalidField(form.deadline.$invalid)}">
      </label>

      <label for="inspiration-links">
        Inspiration Links (Links to videos that you'd like your video to look like; Optional)
        <textarea rows="4" name="inspiration_links" id="inspiration-links" ng-model="organization.inspiration_links" ng-class="{error: invalidField(form.inspiration_links.$invalid)}"></textarea>
      </label>

      <label for="extra-resources">
        Additional Comments (Optional)
        <textarea rows="4" name="extra_resources" id="extra-resources" ng-model="organization.extra_resources" ng-class="{error: invalidField(form.extra_resources.$invalid)}"></textarea>
      </label>

      <input class="button radius submit" ng-disabled="saving" type="submit" value="SUBMIT">
    </form>
  </div>
  <div ng-show="created">
    <h1>Thanks for signing up!</h1>
    <p>We hope to find you a filmmaker soon.</p>
    <button class="button radius add-another" ng-click="clear()">ADD ANOTHER PROJECT</button>
  </div>
</div>
